/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

body > header,
body > footer {
  display: none;
}

body > header + main {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: block;
}

.section {
  grid-area: content;
}

.section:has(.hero) {
  grid-area: hero;
}

.section:has(.toc) {
  grid-area: toc;
}

@media (min-width: 600px) {
  main {
    display: grid;
    grid-template:
      'hero hero'
      'toc content' / 1fr 3fr;
  }
}
