/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
html body {
  background-color: var(--color-gray-100);
}

body > header,
body > footer {
  display: none;
}

body > header + main {
  margin: 0 auto 2rem;
}

main {
  display: block;
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--color-gray-200);
}

h3, h4 {
  scroll-margin: 1rem;
}

h2 {
  margin-top: 3rem;
  scroll-margin: 2rem;
}

.section {
  grid-area: content;
  padding: 1rem;
}

.section:has(.hero) {
  position: relative;
  padding: 0;
  width: 100%;
}

.section:has(.toc) {
  grid-area: toc;
}

@media (min-width: 600px) {
  body > header + main {
    margin-top: 164px;
  }

  main {
    display: grid;
    gap: 56px;
    grid-template: 'toc content' / 280px 1fr;
    max-width: var(--grid-container-width);
  }

  .section:has(.hero) {
    position: absolute;
    height: 335px;
    top: 0;
    left: 0;
  }

  main > .section > .content {
    max-width: none;
  }
}
